.icon {
	width: 64px;
	height: 64px;
	background-size: contain;
	background-repeat: no-repeat;
}

.marker {
	background-size: contain;
	background-repeat: no-repeat;
    border: none;
    box-shadow: 4px 4px 10px 4px rgba(105, 105, 105, 0.4);
    -moz-box-shadow: 4px 4px 10px 4px rgba(105, 105, 105, 0.4);
    -webkit-box-shadow: 4px 4px 10px 4px rgba(105, 105, 105, 0.4);
    border-radius: 50%;
    background-color: #000;
}

.bulbasaur {
	background-image: url(../img/sprites/1.png);
}

.charmander {
	background-image: url(../img/sprites/4.png);
}

.squirtle {
	background-image: url(../img/sprites/7.png);
}

.pikachu {
	background-image: url(../img/sprites/25.png);
}

.caterpie {
    background-image: url(../img/sprites/10.png);
}

.weedle {
    background-image: url(../img/sprites/13.png);
}

.pidgey {
    background-image: url(../img/sprites/16.png);
}

.nidoran{
    background-image: url(../img/sprites/32.png);
}

.nidorina {
    background-image: url(../img/sprites/29.png);
}

.polywag {
    background-image: url(../img/sprites/60.png);
}

